body {
    background-color: pink;
}

#broadCitylogo {
    width: 750px;
  }

h1 {
text: center;
font-family: 'Courier New', Courier, monospace;

  }

#Button {
background-color: aquamarine;
content: center;
border: none;
/* background: transparent; */
}

#question-btn {
  background-color: greenyellow;
}

h2 {
  text-align: center;
}

#answerPage {
  text-align: center;
}

/* #button {
    background-color: whitesmoke; */
    /* background-position: center;
    width: 300px;
    float: right 40px;
    align-self: center; */   
/* h2 {

} */